@import "./reset.css";


body {
    font-family: "Poppins";
    font-weight: 300;
    color: #9C9C9C;
    background-color: #0D0D11;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

[class*="__container"]{
    max-width: 1310px;
    margin: 0 auto;
    padding: 0px 15px;
}

/* ==== BUTTON ==================================================================== */

.button {
    background-color: #3D96F4;
    border-radius: 50px;
    display: inline-block;
    padding: 16px 30px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 1.41;
    font-weight: 500;
    transition: 0.3s ease;
}

.button_dark {
    background: rgba(129, 129, 139, 0.2);
}

.button:hover {
    background-color: #84b6eb;
}

.button_dark:hover {
    background: rgba(129, 129, 139, 0.4);
}

.text {
    line-height: 1.5;
    color: #81818B;
}


/* ==== PAGE ====================================================================== */

.page {
    flex: 1 1 auto;
}

.page__clients {}

.page__services {}

.page__why {}

/* ==== HEADER ==================================================================== */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(13, 13, 17, 0.7);
    z-index: 50;
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 116px;
    padding-top: 5px;
    padding-bottom: 5px;
    column-gap: 35px;
}

.header__menu {
    flex: 1 1 auto;
}

.menu {}
.menu__icon {}

.icon__menu {
    display: none;
}

.menu__list {
    display: flex;
    justify-content: flex-end;
    column-gap: 35px;
    row-gap: 3px;
    flex-wrap: wrap;
}

.menu__item {}

.menu__link {
    display: block;
    font-size: 16px;
    line-height: 1.62;
    color: #FFFFFF;
}

.menu__link:hover {
    text-decoration: underline;
}

.header__cart, 
.header__logo,
.header__button {
    position: relative;
    z-index: 2;
}

.cart-header {
    color: #FFFFFF;
    display: flex;
    gap: 5px;
    align-items: center;
}

.cart-header:hover .cart-header__text {
    text-decoration: underline;
}

.cart-header__text {
    font-size: 18px;
    line-height: 1.55;
}

.cart-header__quantity {
    width: 30px;
    height: 30px;
    background: rgba(129, 129, 139, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
}

.header__button {
    flex: 0 0 auto;
}

.icon__menu {
    display: none;
}

@media (max-width: 991.98px) {
    .header__container,
    .menu__list {
        column-gap: 25px;
    }
    
    .button {
        padding: 14px 20px;
    }

    .header__container { 
        min-height: 90px;
    }
}

@media (max-width: 767.98px) {
    .header__container,
    .menu__list {
        column-gap: 15px;
    }
    
    .icon__menu {
        display: block;
        flex: 0 0 30px;
        height: 18px;
        position: relative;
        z-index: 5;
        background-color: #0D0D11;
    }

    .icon__menu span,
    .icon__menu::before,
    .icon__menu::after {
        content: "";
        position: absolute;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s ease;
    }

    .icon__menu::before {
        top: 0;
    }

    .icon__menu::after {
        bottom: 0;
    }

    .icon__menu span {
        top: calc(50% - 1px)
    }

    .menu-open .icon__menu span {
        width: 0;
    }

    .menu-open .icon__menu::before {
        transform: rotate(-45deg);
        top: calc(50% - 1px)
    }

    .menu-open .icon__menu::after {
        transform: rotate(45deg);
        bottom: calc(50% - 1px)
    }

    .menu__body {
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        padding: 100px 15px 30px 15px;
        overflow: auto;
        transition: left 0.3s ease;
    }

    .menu__body::before {
        content: "";
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 70px;
        background-color: #000;
        z-index: 2;
        transition: left 0.3s ease;
    }

    .menu__list {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        row-gap: 10px;
    }

    .menu__link {
        font-size: 32px;
    }

    .header__container { 
        min-height: 70px;
    }
}

.menu-open .menu__body,
.menu-open .menu__bod::before {
    left: 0;
}

@media (max-width: 560px) {
    .header__logo {
        flex: 0 0 40px;
        width: 40px;
        overflow: hidden;
    }

    .cart-header__text {
        display: none;
    }

    .cart-header__quantity {
        border-radius: 0;
        background: url('/img/cart2.png') center / 53px no-repeat;
        background-color: #fff;
        color: #000;
        padding-bottom: 3px;
        font-weight: 700;
    }
}

/* ======= PAGE ======================================================================*/
   
.page___main {}

/* ======= MAIN =============================================================== */


.main {
    padding-top: 160px;
    padding-bottom: 100px;
}

.main__container {
    display: flex;
    gap: 32px;
}

.main__content {
    flex: 0 1 50%;
    align-self: center;
}

.main__header {
    position: relative;
}

.header-main {}

.header-main__label {
    display: inline-block;
    border: 1px solid rgba(129, 129, 139, 0.2);
    border-radius: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #9C9C9C;
    padding: 11px 18px;
    animation: all 0.3s ease;
}

.header-main__label:hover {
    border: 1px solid rgba(129, 129, 139, 0.4);
}

.header-main__label:not(:last-child) {
    margin-bottom: 19px;
}

.header-main__title {
    font-weight: 500;
    font-size: 51px;
    line-height: 1.19;
    color: #FFFFFF;
    position: relative;
}

.header-main__title:not(:last-child){
    margin-bottom: 28px;
}

.header-main__text {
    font-size: 18px;
    color: #9C9C9C;
    line-height: 1.5;
}

.header-main__text:not(:last-child){
    margin-bottom: 33px;
}

.header-main__actions {
    display: flex;
    column-gap: 32px;
    row-gap: 15px;
}

.header-main__button {

}

.header-main__list {

}

.header-main__list li {
    position: relative;
    min-height: 32px;
    padding-left: 40px;
    color: #9C9C9C;
    font-size: 16px;
    padding-top: 4px;
    line-height: 1.5;
}

.header-main__list li:not(:last-child) {
    margin-bottom: 16px;
}

.header-main__list li::before {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: rgba(129, 129, 139, 0.1) url("./../img//why/icon.svg") center no-repeat;
    
}

.main__header::before {
    content: "";
    background: url("./../img/decor.svg") 0 0 / 100% no-repeat;
    width: 122px;
    height: 122px;
    position: absolute;
    top: -10px;
    left: -34px;
}

.main__images {
    flex: 0 1 50%;
}

.images-main {
    display: flex;
    gap: 9.615384%;
    justify-content: center;
}

.images-main__column {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.images-main__item {
    border-radius: 50% / 29%;
    overflow: hidden;
}

.images-main__item_1,
.images-main__item_4 {
    border-radius: 50% / 29%;
}

.images-main__item_2 {
    border-radius: 50% 50% 0% 50%;
}

.images-main__item_3 {
    border-radius: 50% 0% 50% 50%;
}

.images-main__item img {
    max-width: 100%;
}

@media (max-width: 991.98px) {
    .main {
        padding-top: 120px;
        padding-bottom: 60px;
    }
    .header-main__title {
        font-size: 44px;
    }
}

@media (max-width: 767.98px) {
    .main {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .main__container {
        flex-direction: column;
    }

    .main__content {
        align-self: stretch;
    }

    .header-main__title {
        font-size: 32px;
    }

    .header-main__title:not(:last-child){
        margin-bottom: 15px;
    }

    .header-main__text:not(:last-child){
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) {
    .header-main__title {
        max-width: 520px;
    }

    .header-main__text {
        max-width: 500px; 
    }
}

@media (max-width: 479.98px) {
    .header-main__actions {
        flex-direction: column;
    }
}



/* ===== CLIENTS ==================================================================== */

.clients {
    padding-top: 100px;
    padding-bottom: 70px;
}

.clients__container {}

.clients__title {
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1.57;
    margin-bottom: 44px;
}

.clients__items {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.clients__item {}

.clients__item img {
    max-width: 100%;
}


@media (max-width: 991.98px) {
    .clients {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .clients__title {
       margin-bottom: 30px;
    }
}


@media (max-width: 767.98px) {
    .clients {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .clients__title {
        margin-bottom: 20px;
     }
}


/* ===== SERVICES =================================================================== */



.services {
    padding-top: 70px;
    padding-bottom: 100px;
}

.services__container {
    display: flex;
    gap: 32px;
}

.services__content {
    flex: 0 1 50%;
    align-self: center;
}

.services__header {}

.services__items {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.services__column {}

.services__column:first-child {
    padding-top: 48px;
}

.services__itemm {}

.services__itemm:not(:last-child) {
    margin-bottom: 32px;
}

.item-services {
    background: rgba(129, 129, 139, 0.1);
    border-radius: 30px;
    padding: 55px 25px;
    display: block;
}

.item-services__icon {}

.item-services__icon:not(:last-child) {
    margin-bottom: 16px;
}

.item-services__title {
    font-size: 19.2px;
    line-height: 1.40;
    color: #FFFFFF;
    font-weight: 400;
}

.item-services__title:not(:last-child) {
    margin-bottom: 10px;
}

.item-services__text {}


@media (max-width: 1100px) {
    .services__container {
       flex-direction: column;
    }
    .services__header .header-main__title,
    .services__header .header-main__text {
        max-width: none;
    }
}


@media (max-width: 991.98px) {
    .services {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}


@media (max-width: 767.98px) {
    .services {
        padding-top: 30px;
        padding-bottom: 30px;
    } 
}

@media (max-width: 620px) {
    .services__items {
        flex-direction: column;
    }
    .services__column:first-child {
        padding-top: 0px;
    }
}




/* ==== WHY ======================================================================== */

.why {
    padding-top: 100px;
    padding-bottom: 100px;
}

.why__container {
    display: flex;
    column-gap: 64px;
    row-gap: 32px;
}

.why__images {
    flex: 0 1 50%;
}


.images-why {
    display: flex;
    position: relative;
    align-self: flex-end;
}

.images-why::before {
    content: "";
    background: url("./../img/decor.svg") 0 0 / 100% no-repeat;
    width: 122px;
    height: 122px;
    position: absolute;
    left: -34px;
    bottom: -10px;;
    z-index: -1;
}

.images-why__item {
    overflow: hidden;
}

.images-why__item img {
    max-width: 100%
}

.images-why__item_1 {
    border-radius: 90% 0% 49% 49% / 50% 0% 31% 31%;
}

.images-why__item_2 {
    align-self: flex-end;
    border-radius: 50% 50% 50% 0;
}

.why__content {
    flex: 0 1 50%;
    align-self: center;
}

.why__header {}



@media (max-width: 991.98px) {
    .why {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}


@media (max-width: 767.98px) {
    .why {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .why__container {
       flex-direction: column-reverse;
    }
}



