@import "./reset.css";


body {
    font-family: "Poppins";
    font-weight: 300;
    color: #9C9C9C;
}

.wrapper {

}

[class*="__container"]{
    max-width: 1310px;
    margin: 0 auto;
    padding: 0px 15px;
}